.search{
  margin: 35px;
  padding: 10px;
}

.input {
  height: 40px;
  padding-left:15px;
  font-size: 20px;
  margin-right: 25px;
  border: .2rem solid transparent;
  border-radius: 67px;
  background: #ea80a5;
  -webkit-box-shadow: -1px 1px 14px -2px rgba(0,0,0,0.71);
  -moz-box-shadow: -1px 1px 14px -2px rgba(0,0,0,0.71);
  box-shadow: -1px 1px 14px -2px rgba(0,0,0,0.71);
  
}
body{
  background: #3C91E6;
  color: #342E37;
}

